<html>
<head>
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>nPose Web Menu</title>
  
<link rel="stylesheet" type="text/css" href="/%STYLESHEET%" />
</head>
<body></body>
<script src="node_modules/babel-core/browser-polyfill.min.js"></script>
<script src="node_modules/react/dist/react-with-addons.js"></script>
<script src="node_modules/react-dom/dist/react-dom.min.js"></script>
<script charset="utf-8" src="/src/jsonp.js"></script>
<script src="/%APPJS%"></script>
</html>

