@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@columns: 150px 10;
@darkPurple: #2A002A;
@lightPurple: #58005F;
@lightPink: #FDD6F3;
@mediumPink: #FF5CDA;
@hugeShadow: 0 0 40px #fff, 0 0 15px @mediumPink;
@bigShadow: 0 0 30px #fff, 0 0 10px @mediumPink;
@littleShadow: 0 0 10px #fff, 0 0 4px @mediumPink;

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.tiles {
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -webkit-columns: @columns;
  -moz-columns: @columns;
  columns: @columns;
  /*width: 480px; */
}

.tile {
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
	background-color: @lightPurple;
	padding: 10px;
}

.tile:hover {
	text-shadow: @littleShadow;
}

.tile img {
  width: 100%;
	/*position: relative;*/
}

.tile-thumb {
	margin-top: 5px;
	position: relative;
	width: 100%;		/* desired width */
}

.tile-thumb:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.tile-thumb-img {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
	height: 100%;
}

/*http://www.mademyday.de/css-height-equals-width-with-pure-css.html*/
/*.tile img ::before {*/
	/*content: "";*/
	/*display: block;*/
	/*padding-top: 100%;*/
/*}*/


.tile-name {
  text-align: center;
}

body {
  background-color: @darkPurple;
  color: white;
}

.logo {
  color: white;
  font-weight: lighter;
  font-size: 50px;
  text-shadow: @bigShadow;
}

.logo:hover {
	text-shadow: @hugeShadow;
}

.nav-item {
  display: inline-block;
  font-size: 30px;
  border-bottom: 1px solid @darkPurple;
  padding: 5px;
  cursor: pointer;
}

.nav-item:hover {
	text-shadow: @littleShadow;
}

.nav-item::before {
  content: "/ ";
}

.nav-item:first-child::before {
  content: "";
}

.loading::before {
  content: url(/img/squares.svg);
}
